.customer-test{
    min-height: 400px;
    .row{
        justify-content: center;
        align-content: center;
        min-height: 400px;
    }
    .col-12{
        margin:auto;
    }
    h2{
        font-weight: 700;
        font-size: 36px;
    }
    .test-block{
        background: #fff;
        min-height: 400px;
        width: 618px;
        p{
            line-height: 36px;
            font-size: 24px;
            font-weight: 400;
            padding:63px 91px 14px 91px;
        }
        .cust-image{
            width: 100%;
            text-align: center;
            img{
                margin:auto;
            }
        }
        
    }
}