.about-us-page{

    div.office{
        h2{
            text-align: center;
            margin: 20px auto;
            font-size: 48px;
        }
        img{
            margin: 15px;
            max-width: 100%;
        }
    }
    
    div.hero{
        margin: 64px auto;
        .left{
            h2{
                color: #2f2f2f;
                span{
                    color: #2f2f2f;
                }
            }
            img{
                width: 90%!important;
            }
        }
        .right{
            p{
                font-size: 24px;
                letter-spacing: 0.48px;
                color: #2f2f2f;
            }
        }
    }

    div.full-img{
        img{
            width: 100%;
        }
        h2{
            position: relative;
            font-size: 130px;
            font-weight: 700;
            top: -366px;
            margin: auto;
            text-align: center;
            width: 800px;
            color: #fff;
        }
    }

    div.phill{
        h2{
            text-align: center;
            margin: 8px auto;
            font-size: 48px;
        }
        p.sub-title{
            text-align: center;
            margin: 8px 10px;
            max-width: 1074px;
            font-size: 24px;
        }

        .x-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
            align-items: center;
            margin: 73px auto;
            img{
                width: 100%;
            }
            .text{
                max-width: 560px;
                padding: 40px;
                h3{
                    font-size: 48px;
                    color: #2f2f2f;
                    letter-spacing: -0.48px;
                }
                p{
                    font-size: 24px;
                    color: #2f2f2f;
                    letter-spacing: 0.48px;
                }
            }
        }
    }

    div.open-to-all{
        text-align: center;
        h2{
            margin: 16px auto;
            font-size: 48px;
            color: #2f2f2f;
            letter-spacing: -0.48px;
        }
        p{
            margin: 16px auto;
            max-width: 1100px;
            font-size: 24px;
            letter-spacing: 0.48px;
            color: #2f2f2f;
        }
        img{
            margin-top: 40px;
            width: 100%;
        }
    }

}