.all-access-pass-comparison-table{
    h3{
        font-size: 24px
    }
    ul{
        margin-top: 30px;
        font-family:"neue-haas-grotesk-display";
        li{
            background: url("https://ik.imagekit.io/99x/content/icons/green-tick_jv3mU3LFr.png") no-repeat 5px 5px transparent;
            list-style-type: none;
            margin: 0;
            padding: 0px 0px 10px 27px;
            vertical-align: middle;
            background-size: 15px;
            font-size: 14px
        }
    }
    .digital-marketing{
        background: #5D4FBB;
        color: #fff;
    }
    .c-table{
        padding: 50px;
    }
}