.enterprise-plan{
    .hero{
        padding-top: 50px;
        padding-bottom: 70px;
        background-color: #F6F1F9;
        h1{
            font-size: 48px;
            color: #2F2F2F;
            letter-spacing: -0.48px;
        }
        p{
            font-size: 18px;
            letter-spacing: 0.28 px;
        }
        .row{
            align-items: center;
        }
    }
    .everything-you-need{
        padding: 50px 10px;
        img{
            width: 100%;
            max-width: 540px;
            margin-top: 32px;
        }
        .block{
            margin: 32px auto;
            padding: 0px 10px;
            h2{
                font-weight: 400;
                font-size: 32px;
                color: #2f2f2f;
            }
            p{
                font-size: 18px;
                letter-spacing: 0.28px;
            }
        }
       
    }
}