:root{
    --color-primary:#5ABF98;
    --color-primary-light: #e960ae;
    --color-secondary: #145052;
    --color-highlight: #42AC97;
    --color-3: #252B62;
    --color-bg-subscribe-button: #42AC97;
    --url-login-bg: #fff url('https://ik.imagekit.io/99x/seo/Group_1515_ZQTXrlSws.png');
    --url-signin-bg: url(https://ik.imagekit.io/99x/seo/Group_150_DURCMXfps.png);
    --url-creator-signup-bg: #f7f7f7 url(https://ik.imagekit.io/99x/startup/CreatorSignup_CtyDe341F.png);
    --subscription-home-min-height: 400px;
}
