.comp-jumbple-block{
    .block-1{
        background-color: #F6828C;
        h3{
            font-size: 36px;
            line-height: 48px;
        }
        p{
            font-size: 16px;
        }
    }
    .block-4{
        background-color: var(--color-secondary);
    }
    .block-6{
        background-color: var(--color-primary);
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
}