.page_thankyou{
    .row{
        padding:50px 0px;
    }
    .box{
        text-align: center;
        color: #2F2F2F;
        img{
            width: 50%;
            max-width: 380px;
            margin: 24px auto;
        }
        p{
            margin: auto;
        }
        p.order-id{
            font-size: 18px;
            line-height: 26px;
            margin-top: 24px;
        }
        p.success-msg{
            font-size: 36px;
            margin: 12px auto;
        }
        p.success-desc{
            font-size: 18px;
            max-width: 700px;
            margin: 12px auto;
        }
        button{
            font-size: 18px;
            color: #fff;
            font-weight: 700;
            padding: 16px 32px;
            border-radius: 4px;
            border: 0px;
            outline: 0px;
            background: var(--color-highlight);
            margin: 30px auto;
        }
    }

    .thank-you-container{
        display: flex;
        width:100%;
        h3{
            color:#a91357;
            font-size: 30px;
            font-family:"neue-haas-grotesk-display";
            font-weight: 700;
            margin-left: 30px;
            line-height: 1.38;
        }
        h2{
            font-family:"neue-haas-grotesk-display";
            font-size: 26px;
            font-weight: 700;
            margin-left: 30px;
            margin-top:10px;
            line-height: 1.38;
        }
        @media screen and (max-width: 600px){
            .tick-icon{
                padding-top:4px;
                img{
                    width:64px!important;
                    height: 64px!important;
                    padding:16px!important;
                }
            }
            h2{
                font-size: 14px;
            }
            h3{
                font-size: 14px;
            }

        }
    }
    .left-card{

        p{
            color: #a91357;
            font-size: 20px;
            font-family:"neue-haas-grotesk-display";
            font-weight: 300;
        }
        @media screen and (max-width: 600px){
            p{
                font-size: 14px;
                color: #cc397b;
            }
        }
        
        img.tick{
            padding:30px;
            width:100px;
            height:100px;
            border-radius: 100%;
            border:1px solid #ccc;
        }
        button{
            border-radius: 17px;
            font-family:"neue-haas-grotesk-display";
            font-size: 22px;
            font-weight: bold;
            color:#fff;
            width:80%;
            padding:20px 50px;
            text-align: center;
            outline:nonx;
            border:none;
            margin:30px auto;
            background-image: linear-gradient(to right, #17b6e3, #17b6e3 100%);
        }
        @media screen and (max-width: 600px){
            
            button{
                font-size: 16px!important;
                width:100%!important;
                padding: 14px 0px!important;
                margin: 20px auto;
            }
        }
    }
    .summary-card{
        padding:30px;
        border-radius: 20px;

        h2{
            font-family:"neue-haas-grotesk-display";
            font-size: 26px;
            font-weight: 600;
        }

        table{
            width: 100%;
            td, th{
                font-size: 20px;
                font-family:"neue-haas-grotesk-display";
                font-weight: 300;
                padding:10px 0px;
            }
            th{
                font-weight: 400;
                font-size: 22px;
            }
        }

        
    }
}